<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Inventory</title>
    <!-- Bootstrap CSS desde el CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Incluir jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Librería de FA -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    
    <style>
        body {
            width: 100%;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
            padding-top: 56px; /* altura de la navbar */

            font-family: Segoe UI, system-ui, -apple-system, sans-serif;
            font-size: 1rem;

        }
        #navbar {
            width: 100%;
            position: fixed;
            top: 0;
            z-index: 1000;
        }
        #main {
            display: flex;
            flex: 1;
        }
        #sidebar {
            position: fixed;
            top: 56px; /* Alineación debajo del navbar */
            left: 0;
            width: 250px;
            height: calc(100vh - 56px); /* Altura ajustada para ocupar el espacio restante */
            padding-top: 20px;
            /*background-color: #343a40; /* Color de fondo del sidebar */
            background-color: #0d161c;
            color: #fff; /* Color de texto del sidebar */
            
        }
        #content {
            margin-left: 260px; /* Ancho del sidebar */
            padding: 20px;
            overflow: auto;
            height: calc(100vh - 56px);
            width: calc(100vw - 270px);
            flex: 1;
        }

        .nav-item-side, .nav-item-top{
            transition: .2s ease-in-out;
        }
        li.nav-item-side.active{
            font-weight: 600;
            transform: translateX(15px)
                       scale(1.08);
        }
        .nav-item-top:hover{
            transform: scale(1.08);
            opacity: 1;  
               
            border-bottom: 2px solid #fff;        
           /* filter: drop-shadow(2px 4px 6px rgba(255, 255, 255, 0.55));   */
        }
        .nav-item-top.active{
            transform: scale(1.08);
            opacity: 1;         
        }
        .nav-item-top{
            padding-left: 10px;    
        }
        .nav-item-side:hover{
            transform: translateX(15px)
                       scale(1.08);
            opacity: 0.6;  
        }
        .btnAction{
            border-radius: 50px !important;
            transition: .2s ease-in-out;
        }
        .btnAction:hover{
            filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.55)) !important;
            scale: 0.9;
        }
        .alert {
            opacity: 1; /* Inicia con opacidad 1 */
            transition: opacity 0.5s ease-in-out; /* Transición de opacidad */
        }

        .alert.hidden {
            opacity: 0; /* Reducir opacidad a 0 para ocultar */
        }
        .hidden {
            display: none !important; /* Asegura que el elemento se oculte completamente */
        }

        tr{
            vertical-align: middle;
        }
    </style>
</head>
<body>
    <!-- Barra lateral -->
    <nav id="sidebar">
        <div class="position-sticky">
            <ul class="nav flex-column">
                <li class="nav-item nav-item-side">
                    <a class="nav-link text-white" href="#" onclick="cargarVista('/api/microservice/cliente/devolverClientes')">
                        <!--<i class="fa fa-user me-2"></i>-->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-users-group" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffbf00" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M10 13a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                            <path d="M8 21v-1a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v1" />
                            <path d="M15 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                            <path d="M17 10h2a2 2 0 0 1 2 2v1" />
                            <path d="M5 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                            <path d="M3 13v-1a2 2 0 0 1 2 -2h2" />
                          </svg>
                        Clientes
                    </a>
                </li>
                <li class="nav-item nav-item-side">
                    <a class="nav-link text-white" href="#" onclick="cargarVista('/api/microservice/producto/devolverProductos')">
                        <!--<i class="fa fa-store me-2"></i>-->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-building-store" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffbf00" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M3 21l18 0" />
                            <path d="M3 7v1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1h-18l2 -4h14l2 4" />
                            <path d="M5 21l0 -10.15" />
                            <path d="M19 21l0 -10.15" />
                            <path d="M9 21v-4a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v4" />
                          </svg>
                        Inventario de Productos
                    </a>
                </li>
                <li class="nav-item nav-item-side">
                    <a class="nav-link text-white" href="#" onclick="cargarVista('/api/microservice/categoria/devolverCategorias')">
                        <!--<i class="fa fa-tag me-2"></i>-->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-tag" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffbf00" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M7.5 7.5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                            <path d="M3 6v5.172a2 2 0 0 0 .586 1.414l7.71 7.71a2.41 2.41 0 0 0 3.408 0l5.592 -5.592a2.41 2.41 0 0 0 0 -3.408l-7.71 -7.71a2 2 0 0 0 -1.414 -.586h-5.172a3 3 0 0 0 -3 3z" />
                          </svg>
                        Categorías de Productos
                    </a>
                </li>
                <li class="nav-item nav-item-side">
                    <a class="nav-link text-white" href="#" onclick="cargarVista('/api/microservice/proveedor/devolverProveedores')">
                        <!--<i class="fa fa-truck me-2"></i>-->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-truck-delivery" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffbf00" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                            <path d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                            <path d="M5 17h-2v-4m-1 -8h11v12m-4 0h6m4 0h2v-6h-8m0 -5h5l3 5" />
                            <path d="M3 9l4 0" />
                          </svg>
                        Proveedores
                    </a>
                </li>
                <li class="nav-item nav-item-side">
                    <a class="nav-link text-white" href="#" onclick="cargarVista('/api/microservice/ordenesVenta/devolverOrdenesVenta')">
                        <!--<i class="fa fa-file me-2"></i>-->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-arrow-right" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffbf00" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                            <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
                            <path d="M9 15h6" />
                            <path d="M12.5 17.5l2.5 -2.5l-2.5 -2.5" />
                          </svg>
                        Ordenes de Venta
                    </a>
                </li>
                <li class="nav-item nav-item-side">
                    <a class="nav-link text-white" href="#" onclick="cargarVista('/api/microservice/ordenesCompra/devolverOrdenesCompra')">
                        <!--<i class="fa fa-clipboard me-2"></i>-->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-arrow-left" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffbf00" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                            <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
                            <path d="M15 15h-6" />
                            <path d="M11.5 17.5l-2.5 -2.5l2.5 -2.5" />
                          </svg>
                        Ordenes de Compra
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    

    <!-- Barra de navegación -->
    <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><span th:text="${titulo}"></span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item nav-item-top">
                        <a class="nav-link text-white" href="#" onclick="cargarVista('/api/microservice/usuario/devolverUsuarios')">
                            <!--<i class="fa fa-users me-2"></i>-->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-circle" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffbf00" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                                <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                                <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" />
                              </svg>
                            Usuarios
                        </a>
                    </li>
                    <li class="nav-item nav-item-top">
                        <a class="nav-link text-white" href="#" onclick="cargarVista('/api/microservice/roles/devolverRoles')">
                            <!--<i class="fa fa-user-shield me-2"></i>-->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-shield" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffbf00" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M6 21v-2a4 4 0 0 1 4 -4h2" />
                                <path d="M22 16c0 4 -2.5 6 -3.5 6s-3.5 -2 -3.5 -6c1 0 2.5 -.5 3.5 -1.5c1 1 2.5 1.5 3.5 1.5z" />
                                <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                              </svg>
                            Roles
                        </a>
                    </li>
                    <li class="nav-item nav-item-top">
                        <a class="nav-link text-white" href="#">
                            <!--<i class="fa fa-wrench"></i>-->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-settings" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffbf00" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M12 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                                <path d="M12 10.5v1.5" />
                                <path d="M12 16v1.5" />
                                <path d="M15.031 12.25l-1.299 .75" />
                                <path d="M10.268 15l-1.3 .75" />
                                <path d="M15 15.803l-1.285 -.773" />
                                <path d="M10.285 12.97l-1.285 -.773" />
                                <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                                <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
                              </svg>
                            Configuración
                        </a>
                    </li>
                    <li class="nav-item nav-item-top">
                        <a class="nav-link text-white" href="#">
                            <!--<i class="fas fa-sign-out-alt"></i>-->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffbf00" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                                <path d="M9 12h12l-3 -3" />
                                <path d="M18 15l3 -3" />
                              </svg>
                            Cerrar Sesión
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Contenido principal -->    
    <div id="content"> 
        <div class="alert alert-primary alert-dismissible fade show" role="alert" th:if="${successMessage}" style="color:green;">
            <p th:utext="'<strong>Operación exitosa: </strong>'+${successMessage}"></p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${errorMessage}" style="color:red;">
            <p th:utext="'<strong>Mensaje de alerta: </strong>'+${errorMessage}"></p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div id="mainContent">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
            </div>           
             <!-- Aquí se cargará el contenido dinámicamente -->
            <div th:if="${contenido}">
                <input type="hidden" th:id="contenidoOculto" th:value="${contenido}"></input>
            </div>
        </div>
        
    </div>   
    
    
    <!-- Bootstrap JS y dependencias Popper.js desde el CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

    <script>
        const ACTIONS= {
            DETAILS:'DETAILS',
            ADD:'ADD',
            DELETE:'DELETE',
            EDIT:'EDIT',
            PRINCIPAL_MENU:'PRINCIPAL_MENU'
        };

        function cargarVista(url,id=null,tipo="GET") {            
            $.ajax({
                url: url,
                method: tipo,
                success: function(data) {
                    $('#mainContent').html(data);
                },
                error: function() {
                    $('#mainContent').html('A ocurrido un error al cargar el contenido. Estamos trabajando para solucionar el problema.');
                }
            });
        }  
        
        function acciones(accion,url=null,id=null) {
            switch (accion) {
                case "DETAILS":
                    /*cargarVista(url+"?id="+id)*/
                    cargarVista(url,id,'GET');
                    break;
                case "EDIT":
                cargarVista(url,id,'GET');
                    break;
                case "ADD":
                cargarVista(url,null,'GET');
                    break;
                case "DELETE":
                alert(id);
                var respuesta = confirm('¿Quieres eliminar el elemento?');
                (respuesta)?cargarVista(url+id,null,'GET'):alert('No fue eliminado el elemento');
                    break;
            
                default:
                    break;
            }

            /*$.ajax({
                url: url,
                type: 'DELETE',
                success: function(data) {
                    cargarVista('/api/managinv/listaCategorias');
                },
                error: function() {
                    alert('Error al cargar la vista.');
                }
            });*/
        }

        let elementsSidebar = document.querySelectorAll(".nav-item");

        elementsSidebar.forEach(function(element) {
            element.addEventListener("click", function() {
                elementsSidebar.forEach(function(el) {
                    el.classList.remove("active");
                });
                this.classList.add("active");
            });
        });

        function toogleAlerts(){
            let alerts = document.querySelectorAll(".alert");
            alerts.forEach(function(el) {
                setTimeout(() => {
                    el.classList.add('hidden'); 
                }, 3000);
                
            });
           /* alerts.forEach(function(el){
                setInterval(() => {
                  if(el.classList.contains("show")){
                    el.classList.remove("show");
                    el.classList.add("hide");
                  }
                  else{
                    el.classList.remove("hide");
                    el.classList.add("show");
                  }
                 
                }, 3000);
            });*/
        }
        

        $(document).ready(function(){
            let contenido =  document.getElementById("contenidoOculto").value;
            if(contenido){
                $.ajax({
                    url: contenido,
                    method: "GET",
                    success: function(data) {
                        $('#mainContent').html(data);
                    },
                    error: function() {
                        $('#mainContent').html('A ocurrido un error al cargar el contenido. Estamos trabajando para solucionar el problema.');
                    }
                });
                toogleAlerts();
            }

            let checkPass = document.getElementById("checkPass");
            checkPass.addEventListener("change", function (){
                let inputPass = document.getElementById("passwordUsuario");
                if(checkPass.checked){
                    inputPass.type = "text";
                }
                else{
                    inputPass.type = "password";
                }
            });            
        });
        
    </script>
</body>
</html>


