<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <body>
        
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2"><span th:text="${cabecera}"> Valor por defecto si esta vacia la variable</span></h1>
            
                <button type="button" class="btn btn-success btn-sm" title="Adicionar" th:onclick="acciones(ACTIONS.ADD,'/api/microservice/proveedor/formRegistrarProveedor',null)">
                    <i class="fa fa-plus"></i>
                    Nuevo
                </button>
        </div>

        <h4> <span th:text="${subtitulo}">Subtitulo</span> </h4>
        <div class="table-responsive" th:if="${listado!=null and !listado.empty}">
            <table class="table table-striped table-sm table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre Proveedor</th>
                        <th>Contacto</th>
                        <th>Direccion</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="proveedor, iterStat : ${listado}">
                        <td th:text="${iterStat.count}"></td>
                        <td th:text="${proveedor.nombre}"></td>
                        <td th:text="${proveedor.nombre_contacto}"></td>
                        <td th:text="${proveedor.direccion}"></td>                        
                        <td >
                            <a type="button" class="btn btn-outline-primary btn-sm btnAction" title="Ver detalles" th:onclick="acciones(ACTIONS.DETAILS,'','[(${proveedor.id_proveedor})]')">
                                <i class="fa fa-eye"></i>
                                Detalles
                            </a>
                            <a type="button" class="btn btn-outline-primary btn-sm btnAction" title="Editar" th:onclick="acciones(ACTIONS.EDIT,null,null)">
                                <i class="fa fa-pen"></i>
                                Editar
                            </a>
                            <a type="button" class="btn btn-outline-danger btn-sm btnAction" title="Eliminar" th:href="@{/api/microservice/proveedor/eliminarProveedor/{id}/{nombre}(id=${proveedor.id_proveedor},nombre=${proveedor.nombre})}">
                                <i class="fa fa-trash"></i>
                                Eliminar
                            </a>
                        </td>
                    </tr>                   
                    <!-- Más filas según sea necesario -->
                </tbody>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                      <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                      </li>
                    </ul>
                </nav>
            </table>
        </div>
        <div th:if="${listado==null or listado.empty}">
            <div class="alert alert-danger" role="alert" th:if="${errorMessage}" style="color:red;">
                <p th:utext="'<strong>Mensaje de alerta: </strong>'+${errorMessage}"></p>
            </div>
        </div>   
    </body>
</html>